/* 360° 旋转 */
.d-skin-aciton-rotate .d-skin-main-rotate {
    animation: d-skin-action-rotate 15s linear infinite;
}

@keyframes d-skin-action-rotate {
    0% {
        transform: rotate3d(0, 1, 0, 0deg);
    }
    100% {
        transform: rotate3d(0, 1, 0, 360deg);
    }
}

/* 旋转动画暂停 */
.d-skin-aciton-rotate.d-skin-aciton-rotate-paused .d-skin-main-rotate {
    animation-play-state: paused !important;
}

/* 走路动画 */
.d-skin-aciton-walk .d-skin-arm-left {
    animation: d-skin-action-walk-arm-left 2s ease-in-out infinite;
}

@keyframes d-skin-action-walk-arm-left {
    0% {
        transform: rotateX(-20deg) rotateZ(0deg);
    }
    50% {
        transform: rotateX(20deg) rotateZ(-3deg);
    }
    100% {
        transform: rotateX(-20deg) rotateZ(0deg);
    }
}

.d-skin-aciton-walk .d-skin-arm-right {
    animation: d-skin-action-walk-arm-right 2s ease-in-out infinite;
}

@keyframes d-skin-action-walk-arm-right {
    0% {
        transform: rotateX(20deg) rotateZ(0deg);
    }
    50% {
        transform: rotateX(-20deg) rotateZ(3deg);
    }
    100% {
        transform: rotateX(20deg) rotateZ(0deg);
    }
}

.d-skin-aciton-walk .d-skin-leg-right {
    animation: d-skin-action-walk-leg-left 2s ease-in-out infinite;
}

.d-skin-aciton-walk .d-skin-leg-left {
    animation: d-skin-action-walk-leg-right 2s ease-in-out infinite;
}

@keyframes d-skin-action-walk-leg-left {
    0% {
        transform: rotate3d(1, 0, 0, -20deg);
    }
    50% {
        transform: rotate3d(1, 0, 0, 20deg);
    }
    100% {
        transform: rotate3d(1, 0, 0, -20deg);
    }
}

@keyframes d-skin-action-walk-leg-right {
    0% {
        transform: rotate3d(1, 0, 0, 20deg);
    }
    50% {
        transform: rotate3d(1, 0, 0, -20deg);
    }
    100% {
        transform: rotate3d(1, 0, 0, 20deg);
    }
}

/* 跑步 */
.d-skin-aciton-run .d-skin-arm-left {
    animation: d-skin-action-run-arm-left 0.8s ease-in-out infinite;
}

.d-skin-aciton-run .d-skin-arm-right {
    animation: d-skin-action-run-arm-right 0.8s ease-in-out infinite;
}

@keyframes d-skin-action-run-arm-left {
    0% {
        transform: rotateX(-60deg) rotateZ(0deg);
    }
    50% {
        transform: rotateX(60deg) rotateZ(-10deg);
    }
    100% {
        transform: rotateX(-60deg) rotateZ(0deg);
    }
}

@keyframes d-skin-action-run-arm-right {
    0% {
        transform: rotateX(60deg) rotateZ(0deg);
    }
    50% {
        transform: rotateX(-60deg) rotateZ(10deg);
    }
    100% {
        transform: rotateX(60deg) rotateZ(0deg);
    }
}

.d-skin-aciton-run .d-skin-leg-right {
    animation: d-skin-action-run-leg-left 0.8s ease-in-out infinite;
}

.d-skin-aciton-run .d-skin-leg-left {
    animation: d-skin-action-run-leg-right 0.8s ease-in-out infinite;
}

@keyframes d-skin-action-run-leg-left {
    0% {
        transform: rotate3d(1, 0, 0, -70deg);
    }
    50% {
        transform: rotate3d(1, 0, 0, 70deg);
    }
    100% {
        transform: rotate3d(1, 0, 0, -70deg);
    }
}

@keyframes d-skin-action-run-leg-right {
    0% {
        transform: rotate3d(1, 0, 0, 70deg);
    }
    50% {
        transform: rotate3d(1, 0, 0, -70deg);
    }
    100% {
        transform: rotate3d(1, 0, 0, 70deg);
    }
}

.d-skin-aciton-run .d-skin-main-translate {
    animation: d-skin-action-run-main 0.4s ease-in-out infinite;
}

@keyframes d-skin-action-run-main {
    0% {
        transform: translate3d(0, -20px, 0);
    }
    50% {
        transform: translate3d(0, 20px, 0);
    }
    100% {
        transform: translate3d(0, -20px, 0);
    }
}

/* 骨骼动画暂停 */
.d-skin-aciton-skeleton-paused .d-skin-leg-right,
.d-skin-aciton-skeleton-paused .d-skin-leg-left,
.d-skin-aciton-skeleton-paused .d-skin-arm-right,
.d-skin-aciton-skeleton-paused .d-skin-arm-left,
.d-skin-aciton-skeleton-paused .d-skin-main-translate {
    animation-play-state: paused !important;
}
